<app-accordion [title]="accordionTitle" [quantity]="sectionObjects.length">
  <div class="filters">
    <div class="inputYearsDiv">
      <input
        #years
        type="text"
        (input)="
          yersToConsider = utilsService.getYears(years.value);
          getSectionObjects()
        "
        class="seachInput"
        placeholder="Digite os anos a serem considerados."
      />
      <img
        class="infoIcon"
        src="assets/icons/informationIcon.svg"
        alt="uma letra 'I'"
        (mouseover)="info = true"
        (mouseout)="info = false"
      />
      <div class="infoText" *ngIf="info">
        <p class="infoP">
          Nesse filtro, você pode especificar os anos separados por espaço [2015
          2016 2017].
        </p>
        <br />
        <p class="infoP">
          Também pode usar um ou mais intervalos de anos como em [2015-2017
          2021-2023].
        </p>
        <br />
        <p class="infoP">
          Por fim, pode fazer uma combinação dos dois formatos em qualquer ordem
          como em [2015-2023 2011 2024 2005-2007].
        </p>
      </div>
    </div>
    <button class="smallButton">Limpar filtros</button>
    <label for="" class="onlyAcivesLabel"
      >Apenas ativos<input
        type="checkbox"
        [value]="onlyActives"
        name="onlyActives"
        (input)="onlyActives = !onlyActives; getSectionObjects()"
        checked
    /></label>
    <label for="" class="onlyAcivesLabel"
      >Apenas anos com vínculo<input
        type="checkbox"
        [value]="onlyServiceYears"
        (input)="onlyServiceYears = !onlyServiceYears; getSectionObjects()"
        name="onlyServiceYears"
    /></label>

    <label for="" class="onlyAcivesLabel">
      Ver como gráfico
      <input
        type="checkbox"
        [(ngModel)]="graph"
        (input)="graph = !graph; getSectionObjects()"
        name="graph"
      />
    </label>
  </div>
  <div class="dataShower">
    <div class="dataContainer" [ngStyle]="{ translate: graph ? '-50%' : '0' }">
      <div class="tableShower">
        <div class="tableContainer">
          <table class="table">
            <thead class="thead">
              <tr class="headRow">
                <th class="th">
                  <app-filter-input
                    *ngIf="sectionProps[0].showFilter"
                    [filter]="sectionProps[0].filterObject"
                    (filterEvent)="
                      sectionProps[0].filterObject = $event; getSectionObjects()
                    "
                  ></app-filter-input>
                  <div class="tableHead">
                    <p>Professor</p>
                    <img
                      #ascDesc
                      class="arrowIcon"
                      src="assets/icons/arrowIcon.svg"
                      alt="Desenho de uma seta"
                      (click)="
                        sectionProps[0].ascending = !ascending;
                        ascending = sectionProps[0].ascending;
                        orderProp = sectionProps[0].key;
                        orderNow()
                      "
                      [ngClass]="{
                        rotate: !sectionProps[0].ascending,
                        notRotate: sectionProps[0].ascending
                      }"
                    />
                    <img
                      class="arrowIcon"
                      src="assets/icons/filterIcon.svg"
                      alt="Desenho de um filtro"
                      (click)="
                        sectionProps[0].showFilter = !sectionProps[0].showFilter
                      "
                    />
                  </div>
                </th>
                <th *ngFor="let year of yersToConsider" class="th">
                  {{ year }}
                </th>
                <th class="th">
                  <div class="tableHead">
                    <p>Total</p>
                    <img
                      #ascDes
                      class="arrowIcon"
                      src="assets/icons/arrowIcon.svg"
                      alt="Desenho de uma seta"
                      (click)="
                        orderProp = sectionProps[1].key;
                        quantityDesc = !quantityDesc;
                        sortProfessorsByParticipationQuantity()
                      "
                      [ngClass]="{
                        rotate: quantityDesc,
                        notRotate: !quantityDesc
                      }"
                    />
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let professor of professorsToShow">
                <tr class="contentRow">
                  <td class="td">{{ professor }}</td>
                  <td class="td" *ngFor="let year of yersToConsider">
                    {{
                      countService.countSectionsByProfessorAndYearUsingAny(
                        professor,
                        year,
                        sectionObjects,
                        sectionType
                      )
                    }}
                  </td>
                  <td class="td">
                    {{
                      countService.countSectionsByProfessorUsingAny(
                        professor,
                        yersToConsider,
                        sectionObjects,
                        sectionType
                      )
                    }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="navigation">
          <div>
            <button (click)="exportReport()" class="smallButton">
              Baixar Relatório
            </button>
          </div>
          <div class="pages">
            <div
              *ngFor="let page of getPageNumbers()"
              class="pageNumber"
              [ngClass]="{ selectedPage: page === atualPage }"
              (click)="atualPage = +page; getProfessorsToShow()"
            >
              {{ page }}
            </div>
          </div>
          <div>
            <label class="pageResults" for="">
              Resultados por página
              <input
                #results
                type="number"
                [value]="resultsPerPage"
                (input)="
                  resultsPerPage = +results.value > 0 ? +results.value : 1;
                  filterNow()
                "
                id="resultsPerPage"
              />
            </label>
          </div>
        </div>
      </div>

      <div class="chartShower">
        <app-quantity
          [multi]="multi"
          [multi2]="multi2"
          [totals]="totals"
          [totals2]="totals2"
          [multiTotal]="multiTotal"
        ></app-quantity>
      </div>
    </div>
  </div>
</app-accordion>
