<app-ranking-section
  [professores]="professors"
  [sectionObjects]="trabalhosEmEventos"
>
</app-ranking-section>

<app-quantitative-section
  [accordionTitle]="'Análise Quantitativa'"
  [sectionType]="'trabalhosEmEventos'"
  [allSectionObjects]="trabalhosEmEventos"
  [sectionProps]="workProps"
></app-quantitative-section>

<app-qualitative-section
  [sectionProps]="eventProps"
  [sectionType]="'trabalhosEmEventos'"
  [allSectionObjects]="trabalhosEmEventos"
  [author]="'autor'"
  [accordionTitle]="'Análise Qualitativa'"
>
</app-qualitative-section>
