<app-accordion [title]="'Ranking'">
  <app-events-work-ranking></app-events-work-ranking>
</app-accordion>

<!-- <app-quantitative-events-works></app-quantitative-events-works> -->
<app-quantitative-section
  [accordionTitle]="'Análise Quantitativa'"
  [sectionType]="'trabalhosEmEventos'"
  [allSectionObjects]="trabalhosEmEventos"
  [sectionProps]="workProps"
></app-quantitative-section>

<app-qualitative-section
  [sectionProps]="eventProps"
  [sectionType]="'trabalhosEmEventos'"
  [allSectionObjects]="trabalhosEmEventos"
  [author]="'autor'"
  [accordionTitle]="'Análise Qualitativa'"
>
</app-qualitative-section>

<!-- <app-qualitative-events-works
  [curriculumns]="curriculumns"
></app-qualitative-events-works> -->
