.sectionsCards {
  margin-top: 30px;
  margin-left: 8px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.sectionCard {
  width: 215px;
  height: 176px;
  position: relative;
  padding: 39px 14px 82.17px 23px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
}

.cardContainer {
  position: relative;
}

.cardContainer::before {
  width: 16px;
  height: 176px;
  top: 0;
  left: -8px;
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  content: " .  ";
  color: transparent;
  background-color: var(--primary);
  z-index: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
}

a {
  text-decoration: none;
  color: white;
}

.cardTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
