#alertsContainer {
  padding: 10px;

  font-family: var(--fontAnek);
  border-bottom: var(--gray) 1px solid;
  padding: 24px;
}

.modalsButtons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  padding: 17px;
}

.modalsButtons button {
  min-width: 45px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;

  background-color: var(--primary);
  color: white;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#alertsButtons button:hover {
  background-color: var(--darkGreen);
}

#alertsButtons button:active {
  background-color: var(--orange);
}

#alert {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.alertsTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 19.2px;
  text-align: center;
  margin-bottom: 16px;
}

.alertsText {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.2px;
  text-align: center;
  color: var(--primary);
}

.alertsIcon {
  height: 100px;
}

#iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
