<div id="alert" *ngIf="showAlert">
  <app-modal>
    <div id="alertsContainer">
      <div id="iconContainer">
        <img
          [src]="'assets/icons/' + alertTypes[alertType].icon + '.svg'"
          alt=""
          class="alertsIcon"
        />
      </div>

      <div>
        <h1 class="alertsTitle" [style.color]="alertTypes[alertType].color">
          {{ title }}
        </h1>
      </div>
      <div>
        <ng-container *ngFor="let paragraph of text"
          ><p class="alertsText">{{ paragraph }}</p></ng-container
        >
      </div>
    </div>
    <div class="modalsButtons">
      <button *ngIf="alertTypes[alertType].ok" (click)="hideAlerts()">
        Ok
      </button>
    </div>
  </app-modal>
</div>
