.dataShower {
  width: 80vw;
  overflow: hidden;
}

.dataContainer {
  width: 160vw;
  display: flex;
  transition: all 0.3s ease;
}

.tableShower {
  width: 80vw;
}

.chartShower {
  width: 80vw;
}

.rotate {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.notRotate {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.tableHead {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 3px;
}

.pages {
  display: flex;
  justify-content: center;
}

.pageNumber {
  border: 1px solid #a4a3a340;
  width: 30px;
  height: 34px;

  padding: 5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary);
}

.selectedPage {
  border: 1px solid var(--primary);
}

#inputYearsDiv {
  position: relative;
}

.infoIcon {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  cursor: default;
}

.infoText {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 0;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow:
    0px 4px 4px 0px #00000040,
    0px 0px 2px 0px #00000040 inset;
}

.infoP {
  margin: 0;
  padding: 0;
  line-height: 20px;

  color: var(--primary);
  font-size: 11px;
}

.pageResults {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}
