<app-accordion
  [title]="'Análise Quantitativa'"
  [quantity]="participations.length"
>
  <div class="filters">
    <input
      #years
      type="text"
      (input)="
        yersToConsider = utilsService.getYears(years.value); getParticipations()
      "
      class="seachInput"
      placeholder="Digite os anos a serem considerados."
    />
    <button class="smallButton">Limpar filtros</button>
    <label for="" class="onlyAcivesLabel"
      >Apenas ativos<input
        type="checkbox"
        [value]="onlyActives"
        name="onlyActives"
        (input)="onlyActives = !onlyActives; getParticipations()"
        checked
    /></label>
    <label for="" class="onlyAcivesLabel"
      >Apenas anos com vínculo<input
        type="checkbox"
        [value]="onlyServiceYears"
        (input)="onlyServiceYears = !onlyServiceYears; getParticipations()"
        name="onlyServiceYears"
    /></label>

    <label for="" class="onlyAcivesLabel">
      Ver como gráfico
      <input
        type="checkbox"
        [(ngModel)]="graph"
        (input)="graph = !graph; getParticipations()"
        name="graph"
      />
    </label>
  </div>
  <div class="dataShower">
    <div class="dataContainer" [ngStyle]="{ translate: graph ? '-50%' : '0' }">
      <div class="tableShower">
        <div class="tableContainer">
          <table class="table">
            <thead class="thead">
              <tr class="headRow">
                <th class="th">
                  <app-filter-input
                    *ngIf="participationProps[0].showFilter"
                    [filter]="participationProps[0].filterObject"
                    (filterEvent)="participationProps[0].filterObject = $event"
                  ></app-filter-input>
                  <div
                    class="tableHead"
                    (mouseenter)="ascDesc.classList.remove('hidden')"
                    (mouseleave)="ascDesc.classList.add('hidden')"
                  >
                    <p
                      (click)="
                        participationProps[0].showFilter =
                          !participationProps[0].showFilter
                      "
                    >
                      Professor
                    </p>
                    <img
                      #ascDesc
                      class="arrowIcon hidden"
                      src="assets/icons/arrowIcon.svg"
                      alt="Desenho de uma seta"
                      (click)="
                        participationProps[0].ascending = !ascending;
                        ascending = participationProps[0].ascending;
                        orderProp = participationProps[0].key
                      "
                      [ngClass]="{
                        rotate: !participationProps[0].ascending,
                        notRotate: participationProps[0].ascending
                      }"
                    />
                  </div>
                </th>

                <th *ngFor="let year of yersToConsider" class="th">
                  {{ year }}
                </th>
                <th class="th">
                  <div
                    class="tableHead"
                    (mouseenter)="ascDes.classList.remove('hidden')"
                    (mouseleave)="ascDes.classList.add('hidden')"
                  >
                    <p>Total</p>
                    <img
                      #ascDes
                      class="arrowIcon hidden"
                      src="assets/icons/arrowIcon.svg"
                      alt="Desenho de uma seta"
                      (click)="quantityDesc = !quantityDesc"
                      [ngClass]="{
                        rotate: quantityDesc,
                        notRotate: !quantityDesc
                      }"
                    />
                  </div>
                </th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let professor of professorsToShow">
                <tr class="contentRow">
                  <td class="td">{{ professor }}</td>
                  <td class="td" *ngFor="let year of yersToConsider">
                    {{
                      otherEventsService.countParticipationsByProfessorAndYear(
                        professor,
                        year,
                        participations
                      )
                    }}
                  </td>
                  <td class="td">
                    {{
                      otherEventsService.countParticipationsByProfessor(
                        professor,
                        yersToConsider,
                        participations
                      )
                    }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="navigation">
          <div>
            <button (click)="createSheet()" class="smallButton">
              Baixar Relatório
            </button>
          </div>

          <div class="pages">
            <div
              *ngFor="let page of getPageNumbers()"
              class="pageNumber"
              [ngClass]="{ selectedPage: page === atualPage }"
              (click)="atualPage = +page; getProfessorsToShow()"
            >
              {{ page }}
            </div>
          </div>
          <div>
            <label for=""
              ><input
                #results
                type="number"
                [value]="resultsPerPage"
                (input)="
                  resultsPerPage = +results.value > 0 ? +results.value : 1;
                  filterNow()
                "
                id="resultsPerPage"
            /></label>
          </div>
        </div>
      </div>

      <div class="chartShower">
        <app-quantity
          [multi]="multi"
          [multi2]="multi2"
          [totals]="totals"
          [totals2]="totals2"
          [multiTotal]="multiTotal"
        ></app-quantity>
      </div>
    </div>
  </div>
</app-accordion>
