.accordionContent {
  overflow: hidden;
  transition: max-height 1s ease;
  overflow: hidden;
}
.open {
  max-height: 1000px;
  overflow-y: auto;
}

.closed {
  max-height: 0;
}

.triangle {
  width: 7px;
  transition: all 0.5s ease;
}

.down {
  transform: rotate(90deg);
}

.right {
  transform: rotate(0deg);
}

.accordionTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
