<app-accordion [title]="'Ranking'">
  <div class="podium">
    <ng-container *ngIf="totals.length > 1">
      <ng-container *ngFor="let rank of ranking">
        <div
          class="rank rank2"
          *ngIf="rank.total == totals[1] && rank.quantity > 0"
        >
          <div>
            <img src="assets/img/second.png" alt="" />
          </div>
          <p class="teacherName">{{ rank.name }}</p>
          <div></div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="totals.length > 0">
      <ng-container *ngFor="let rank of ranking">
        <div
          class="rank rank1"
          *ngIf="rank.total == totals[0] && rank.quantity > 0"
        >
          <div>
            <img src="assets/img/first.png" alt="" />
          </div>
          <p class="teacherName">{{ rank.name }}</p>
          <div></div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="totals.length > 2">
      <ng-container *ngFor="let rank of ranking">
        <div
          class="rank rank3"
          *ngIf="rank.total == totals[2] && rank.quantity > 0"
        >
          <div>
            <img src="assets/img/third.png" alt="" />
          </div>
          <p class="teacherName">{{ rank.name }}</p>
          <div></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="lasts">
    <ng-container *ngIf="ranking.length > 9">
      <div class="last">
        <div class="position">
          {{ ranking.indexOf(ranking[ranking.length - 4]) + 1 }}º
        </div>
        <div class="teacherName">{{ ranking[ranking.length - 4].name }}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="ranking.length > 8">
      <div class="last">
        <div class="position">
          {{ ranking.indexOf(ranking[ranking.length - 3]) + 1 }}º
        </div>
        <div class="teacherName">{{ ranking[ranking.length - 3].name }}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="ranking.length > 7">
      <div class="last">
        <div class="position">
          {{ ranking.indexOf(ranking[ranking.length - 2]) + 1 }}º
        </div>
        <div class="teacherName">{{ ranking[ranking.length - 2].name }}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="ranking.length > 6">
      <div class="last">
        <div class="position">
          {{ ranking.indexOf(ranking[ranking.length - 1]) + 1 }}º
        </div>
        <div class="teacherName">{{ ranking[ranking.length - 1].name }}</div>
      </div>
    </ng-container>
  </div>
</app-accordion>
