.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.custom-loader {
  width: 24px;
  height: 24px;
  position: relative;
  animation: d9-0 4s infinite steps(2);
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #003b71;
}
.custom-loader::before {
  box-shadow: 48px 0 #003b71;
  transform: translateX(-48px);
  animation: d9-1 2s infinite linear alternate;
}
.custom-loader::after {
  transform: translateX(24px) rotate(0deg) translateX(24px);
  animation: d9-2 2s infinite linear alternate;
}
@keyframes d9-0 {
  0%,
  49.9% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
@keyframes d9-1 {
  100% {
    box-shadow: 96px 0 #003b71;
  }
}
@keyframes d9-2 {
  100% {
    transform: translateX(24px) rotate(-180deg) translateX(24px);
  }
}
