<app-accordion [title]="'Ranking'">
  <!-- <app-events-work-ranking></app-events-work-ranking> -->
</app-accordion>

<!-- <app-quantitative-outras-participacoes-em-eventos-congressos></app-quantitative-outras-participacoes-em-eventos-congressos> -->

<app-quantitative-section
  [accordionTitle]="'Análise Quantitativa'"
  [sectionType]="'outrasParticipacoesEmEventosCongressos'"
  [allSectionObjects]="participations"
  [sectionProps]="participationProps"
></app-quantitative-section>

<app-qualitative-section
  [sectionProps]="participationQualyProps"
  [sectionType]="'outrasParticipacoesEmEventosCongressos'"
  [allSectionObjects]="participations"
  [author]="'participante'"
  [accordionTitle]="'Análise Qualitativa'"
></app-qualitative-section>
