<app-accordion [title]="title" [quantity]="eventsWorks.length">
  <div class="filters">
    <button (click)="cleanFiltersData()" class="smallButton">
      Limpar filtros
    </button>
    <label for="" class="onlyAcivesLabel"
      >Apenas ativos<input
        type="checkbox"
        [(ngModel)]="onlyActives"
        name="onlyActives"
        (change)="filterNow()"
    /></label>
    <label for="" class="onlyAcivesLabel"
      >Apenas anos com vínculo<input
        type="checkbox"
        [(ngModel)]="onlyServiceYears"
        name="onlyServiceYears"
        (change)="filterNow()"
    /></label>
  </div>

  <div class="tableContainer">
    <table class="table">
      <thead class="thead">
        <tr class="headRow">
          <th class="th" *ngFor="let prop of eventProps">
            <app-filter-input
              *ngIf="prop.showFilter"
              [filter]="prop.filterObject"
              (filterEvent)="prop.filterObject = $event; filterNow()"
            ></app-filter-input>
            <div
              class="tableHead"
              (mouseenter)="ascDesc.classList.remove('hidden')"
              (mouseleave)="ascDesc.classList.add('hidden')"
            >
              <p
                (click)="
                  changeAllShowFilterToFalse(prop.key);
                  prop.showFilter = !prop.showFilter
                "
              >
                {{ prop.name }}
              </p>
              <img
                #ascDesc
                class="arrowIcon hidden"
                src="assets/icons/arrowIcon.svg"
                alt="Desenho de uma seta"
                (click)="
                  prop.ascending = !ascending;
                  ascending = prop.ascending;
                  orderProp = prop.key;
                  orderNow()
                "
                [ngClass]="{
                  rotate: !prop.ascending,
                  notRotate: prop.ascending
                }"
              />
            </div>
          </th>

          <th class="th">Autores</th>
          <th class="th">Palavras-chave</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let work of eventsWorksToShow">
          <tr class="contentRow">
            <td class="td" *ngFor="let prop of eventProps">
              <div class="td" [style]="{ width: prop.width }">
                <p>{{ work[prop.key] ? work[prop.key] : ("" | failData) }}</p>
              </div>
            </td>

            <td class="td">
              <div class="w320 autors">
                <ng-container *ngFor="let autor of work.autores"
                  ><p>
                    <b>{{ autor.nomeCompletoDoAutor }}</b> ({{
                      autor.nomeParaCitacao
                    }}), autor/a número {{ autor.ordemDeAutoria }}
                  </p>
                </ng-container>
              </div>
            </td>
            <td class="td">
              <div class="w240">
                <span>{{ work.palavrasChave | failData }}</span>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="navigation">
    <div>
      <button class="smallButton">Baixar Relatório</button>
    </div>
    <div class="pages">
      <div
        *ngFor="let page of getPageNumbers()"
        class="pageNumber"
        [ngClass]="{ selectedPage: page === atualPage }"
        (click)="atualPage = +page; getWorksToShow()"
      >
        {{ page }}
      </div>
    </div>
    <div>
      <label for=""
        ><input
          type="number"
          [(ngModel)]="resultsPerPage"
          (input)="getWorksToShow(); atualPage = 1"
          id="resultsPerPage"
      /></label>
    </div>
  </div>
</app-accordion>
