.qualitativeEvents {
  position: relative;
  width: 80vw;
  height: 70vh;
  padding: 0px 16px 29px;
  overflow: auto;
  margin: 0 auto;
  box-shadow: 0px 5px 4px 0px #a4a3a33d;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.headRow {
  box-shadow: 0px 5px 2px 0px #a4a3a340;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  border-radius: 8px;
}

.tHeadContainer {
  box-shadow: 0px 2px 0px 0px #0000001a;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-radius: 8px 8px 0px 0px;
}

.contentRow {
  box-shadow: 0px 5px 2px 0px #a4a3a340;
  height: 60px;
  border-radius: 8px;
}

td {
  overflow: hidden;
  padding: 8px 8px 8px 14px;

  min-height: 60px;
  font-size: 14px;
  line-height: 19.2px;
  font-weight: 400;
}

th {
  width: auto;
  max-width: 320px;
  word-wrap: break-word;
  padding: 8px 8px 8px 14px;
  cursor: default;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;

  background-color: #ffffff;
}

table {
  width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
}

.tableHead {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 3px;
}

.pages {
  display: flex;
  justify-content: center;
}

.pageNumber {
  border: 1px solid #a4a3a340;
  width: 30px;
  height: 34px;

  padding: 5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary);
}

.selectedPage {
  border: 1px solid var(--primary);
}

.w22 {
  width: 22px;
}
