<app-ranking-section [professores]="professors" [sectionObjects]="sections">
</app-ranking-section>

<app-quantitative-section
  [accordionTitle]="'Análise Quantitativa'"
  [sectionType]="'textosEmRevistasOuJornais'"
  [allSectionObjects]="sections"
  [sectionProps]="quantiProps"
></app-quantitative-section>

<app-qualitative-section
  [sectionProps]="qualiProps"
  [sectionType]="'textosEmRevistasOuJornais'"
  [allSectionObjects]="sections"
  [author]="'autor'"
  [accordionTitle]="'Análise Qualitativa'"
>
</app-qualitative-section>
