<app-modal>
  <div id="addCurriculumcontent">
    <div id="title">
      <p>Buscar arquivos</p>
      <img
        src="assets/icons/closeIcon.svg"
        alt="Símbolo de X"
        (click)="closeEmitter.emit()"
      />
    </div>

    <div id="content">
      <label for="">
        Arquivos<input
          id="addFileInput"
          type="file"
          (change)="onFileSelected($event)"
          multiple
          [ngStyle]="{ '::before': curriculumsData.curriculums.length === 0 }"
      /></label>

      <ng-container *ngIf="curriculumsData.curriculums.length > 0">
        <p id="addFileText">
          {{ curriculumsData.curriculums.length }} arquivos selecionado<span
            *ngIf="curriculumsData.curriculums.length > 1"
            >s</span
          >.
        </p>
        <div id="filesNames">
          <span *ngFor="let file of filesNames" class="fileName">
            {{ file }}
          </span>
        </div>
      </ng-container>

      <div id="buttonLine">
        <div></div>
        <button class="defaultButton" type="button" (click)="addCurriculum()">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</app-modal>
