.rank {
  width: 223px;
  height: 177px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040, 0px 0px 2px 0px #00000040 inset;

  transition: all 0.3s ease;
}

.rank1 {
  height: 272px;
}

.rank2 {
  height: 243px;
}

.rank3 {
  height: 224px;
}

.teacherName {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 45px;
}

.lasts {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.last {
  width: 286px;
  height: 99px;
  padding: 10px 8px 8px 14px;
  border: 1px solid #d7e0e9;
  border-radius: 2px 24px 2px 24px;
  box-shadow: 0px 5px 2px 0px #ccd8e3, 0px 0px 4px 0px #d7e0e9 inset;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 16.45px;
}

.position {
  width: 50px;
}
