<div class="filter">
  <input
    #filterInputs
    type="text"
    (blur)="getText(filterInputs.value)"
    [value]="filter.text.join(' ')"
    class="seachInput"
  />

  <p for="" class="onlyAcivesLabel">
    Combinar termos usando:
    <label for="" class="onlyAcivesLabel"
      >Ou<input
        type="radio"
        name="combination"
        checked
        (change)="filter.disjunctive = true"
    /></label>
    <label for="" class="onlyAcivesLabel"
      >E<input
        type="radio"
        name="combination"
        (change)="filter.disjunctive = false"
    /></label>
  </p>

  <button class="smallButton" (click)="filterEvent.emit(filter)">
    Aplicar
  </button>
</div>
