<header>
  <div class="headsup">Projeto Lattes</div>
  <div class="headsub">
    <div></div>
    <nav>
      <ul>
        <li (click)="redirect('home')">Página Inicial</li>
        <li (click)="redirect('professors')">Professores</li>
        <li (click)="redirect('sections')">Objetos</li>
      </ul>
    </nav>

    <p (click)="add = true">+Adicionar Currículos</p>
  </div>
</header>
<ng-content></ng-content>
<app-add-curriculums
  *ngIf="add"
  (closeEmitter)="add = false"
></app-add-curriculums>
