@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root {
  --primaryFade: #003b71de;
  --primary: #003b71;
  --secondary: #f5f5f6;
  --terciary: #333333;
  --fadeBlack: #00000070;
  --lightBlack: #0000008a;
  --gray: #00000026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.arrowIcon {
  width: 25px;
  position: absolute;
  left: -10px;
  top: -10px;
}

.rotate {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.notRotate {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.filters {
  margin: 30px 0px 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.seachInput {
  width: 316px;
  height: 45px;

  outline: none;
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 14px;

  font-weight: 400px;
  font-size: 14px;
  line-height: 16.8px;
}

.onlyAcivesLabel {
  width: fit-content;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: var(--terciary);
}

.defaultButton {
  width: 150px;
  height: 48px;

  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: var(--primary);
  color: white;

  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.smallButton {
  width: 113px;
  height: 34px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background-color: var(--primary);
  color: white;

  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}

.searchTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
}

.w320 {
  width: 320px;
}

.w240 {
  width: 240px;
}

.autors {
  max-height: 90px;
  overflow: auto;
}

.navigation {
  margin: 17px auto 0;
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#resultsPerPage {
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #dddddd;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  text-align: center;
}

#resultsPerPage::-webkit-inner-spin-button,
#resultsPerPage::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

#buttonLine {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.tableContainer {
  position: relative;
  width: 80vw;
  height: 70vh;
  padding: 0px 16px 29px;
  overflow: auto;
  margin: 0 auto;
  box-shadow: 0px 5px 4px 0px #a4a3a33d;
}

.table {
  width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
}

.tableHead {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 3px;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.headRow {
  box-shadow: 0px 5px 2px 0px #a4a3a340;
  border-radius: 8px;
}

.th {
  width: auto;
  max-width: 320px;
  word-wrap: break-word;
  padding: 8px 8px 8px 14px;
  cursor: default;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;

  background-color: #ffffff;
}

.contentRow {
  box-shadow: 0px 5px 2px 0px #a4a3a340;
  height: 60px;
  border-radius: 8px;
}

.td {
  overflow: hidden;
  padding: 8px 8px 8px 14px;

  min-height: 60px;
  font-size: 14px;
  line-height: 19.2px;
  font-weight: 400;
}
